<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" style="padding-top: 0; padding-bottom: 0;" href="#">
      <img src="../../../assets/logo.svg" alt="" height="44">
    </a>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="goLogin()">Login</button>
      <button type="button" class="btn btn-outline-danger" (click)="goCadastro()">Cadastro</button>
    </div>
  </div>
</nav>