<body>
  <section class="cards">
    <div class="cardDash">
      <header>
        <h4>Médicos</h4>
        <div class="btnDropSide"> <a routerLink="">
            <span class="material-symbols-outlined">
              visibility
            </span>
          </a>
        </div>
        <div class="btnDropSide" style="margin-left: 0px !important;"> <a routerLink="">
            <span class="material-symbols-outlined">
              add
            </span>
          </a>
        </div>
      </header>
      <div class="separator"></div>
      <h1>50</h1>
    </div>
    <div class="cardDash">
      <header>
        <h4>Interpretes</h4>
        <div class="btnDropSide"> <a routerLink="">
            <span class="material-symbols-outlined">
              visibility
            </span>
          </a>
        </div>
        <div class="btnDropSide" style="margin-left: 0px !important;"> <a routerLink="">
            <span class="material-symbols-outlined">
              add
            </span>
          </a>
        </div>
      </header>
      <div class="separator"></div>
      <h1>50</h1>
    </div>
    <div class="cardDash">
      <header>
        <h4>Pacientes</h4>
        <div class="btnDropSide"> <a routerLink="">
            <span class="material-symbols-outlined">
              visibility
            </span>
          </a>
        </div>
      </header>
      <div class="separator"></div>
      <h1>50</h1>
    </div>
    <div class="cardDash">
      <header>
        <h4>Consultas</h4>
        <div class="btnDropSide"> <a routerLink="">
            <span class="material-symbols-outlined">
              visibility
            </span>
          </a>
        </div>
      </header>
      <div class="separator"></div>
      <h1>50</h1>
    </div>
  </section>
  <section class="content">
    <main>
      teste
    </main>
    <aside>
      teste
    </aside>
  </section>
</body>