/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0 !important;
}

body:-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(224, 221, 221, 0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(182, 179, 179);
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent)
}